* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  padding: 18px 0;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  margin-left: 72px;
  color: #364ace;
}

/* Loading */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #364ace;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* Posts */

/* Post */
.post__box {
  margin: 10px;
  border-bottom: 1px solid #eee;
  border-width: 50%;
}

.post__title {
  font-size: 24px;
  font-weight: 700;
}

.post__body {
  padding: 0 6px;
  font-size: 18px;
  font-weight: 500;
  color: #868e96;
}

/* detail*/
.detail {
  width: 60%;
  margin: 80px 0;
}

.detail__title {
  font-size: 32px;
  font-weight: 700;
}

.detail__body {
  margin-top: 60px;
  font-size: 20px;
}
